.cardSection{
  display: grid;
  place-content: center;
  gap: 2rem;

  &-title{
    width: 16.1875rem;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  &-container{
    display: grid;
    place-items: center;
    gap: 2rem;
  }
}
