.content{
  display: grid;
  gap: 2rem;

  &-title{
    width: 14.1875rem;
    height: 3.625rem;
    font-size: 1.5rem;
    font-weight: 500;
    @media screen and (min-width: 50rem) {
      font-size: 3rem;
      width: 22.875rem;
      height: 8.8125rem;
    }
    
  }
  
  &-text{
    height: 4.625rem;
    width: 17.1875rem;
    color: #4F4F4F;
    font-size: 0.75rem;
    @media screen and (min-width: 50rem) {
      width: 22.875rem;
      font-size: 1.125rem;
      height: auto;
    }
  }
}