.banner{
  min-height: 8rem;

  &-img{
    object-fit: cover;
    width: 80vw;
    height: 100%;
    border-radius: 18px;
    @media screen and (min-width: 50rem) {
      transform: scaleX(1.2);
    }
  }
}