.label{

  &-info{
    color:#828282;
    font-size: 0.625rem;
    font-weight: 500;
    padding-bottom: .4rem;
  }

  &-containerInputs{
    background-color: #F2F2F2;
    width: 18.1875rem;
    height: 2.9375rem;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 12px;
  }

  &-inputMail{
    padding-left: 1rem;
  }

  &-inputSubmit{
    background-color: #2D9CDB;
    color: #F2F2F2;
    border-radius: 12px;
    margin: .2rem;
    cursor: pointer;
  }

}