#app{
  display: grid;
  gap: 8rem;
  padding: .8rem;
  margin-top: 5rem;
  color: black;
  place-items: center;
  max-width: 1100px;
  margin-inline: auto;
  @media screen and (min-width: 50rem) {
    place-items: initial;
  }
}