.main-header{
  font-weight: 500;

  .main-span{
    color: #2D9CDB;
    font-size: 0.8rem;
    @media screen and (min-width: 50rem) {
      font-size: 1.125rem;
    }
  }

  .main-title{
    display: flex;
    width: 17rem;
    font-size: 1.5rem;
    @media screen and (min-width: 50rem) {
      width: 33.9375rem;
      font-size: 3rem;
    }
  }
}